.region-secondary-menu {
    float: right;
}
.site-branding__logo img {
    height: 64px;
}
.field {
  clear: left;
}
.field--type-entity-reference {
    margin: 0;
    font-family: Georgia,"Times New Roman",Times,serif;
}
.field--type-entity-reference .field__label {
    font-weight: bold;
}
.field__items .field__item {
    float: left;
    margin-right: 0.75em;
}
.site-branding__logo img {
    height: 64px;
    width: 64px;
}
