import typescript from '@rollup/plugin-typescript';

export default [
    {
        input: 'Leaflet.Spin-1.1.2/leaflet.spin.min.js',
        output: {
            file: 'Leaflet.Spin-1.1.2/leaflet_spin_bundle.js',
            format: 'iife',
            compact: true,
            minifyInternalExports: true
        }
    },
    {
        input: 'leaflet.geojson.bbox/src/leaflet.GeoJSON.bbox.js',
        output: {
            file: 'leaflet.geojson.bbox/leaflet.geojson.bbox_bundle.js',
            format: 'iife',
            compact: true,
            minifyInternalExports: true
        }
    },
    {
        input: 'spin/spin.ts',
        output: {
            file: 'spin/spin_bundle.js',
            format: 'iife',
            name: 'Spin',
            compact: true,
            minifyInternalExports: true
        },
        plugins: [typescript()]
    }
];
